*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("Images/7.jpg");
  background-position: center;
  background-size: cover;
  height: 230vh;
  padding: 10px 8%;
}



.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
float: left;
display: flex;
justify-content: center;
align-items: center;
}

ul li{
 list-style: none;
 margin-left: 62px;
 margin-top: 27px;
 font-size: 17px;
}

ul li a{
text-decoration: none;
color: rgb(147, 199, 223);
font-family: Arial;
font-weight: bold;
transition: 0.3s ease-in-out;
}

ul li a:hover{
   color: rgb(172, 31, 148);
   transition: 0.3s ease-in-out;
   
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  color: aqua;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  color: black;
}
